<div class="comman_pages_subscribe productsloop thee_forth"> 
  <div class="subscribenumber">
    <div class="container">
      <div data-step='1' class="cmn active"><span>1</span> <p>{{ section.settings.txt1}}</p></div>
      <div data-step='2' class="cmn active"><span>2</span> <p>{{ section.settings.txt2}}</p></div>
      <div data-step='3' class="cmn active"><span>3</span> <p>{{ section.settings.txt3}}</p></div>
      <div data-step='4' class="cmn"><span>4</span> <p>{{ section.settings.txt4}}</p></div>
    </div>
  </div>
  <div class="subscription_step_three"> 
    <div class="container"> 
      <div class="loop_box_cmn"> 
        <div class="loop_box" data-step='3'>
          <h2>{{ section.settings.heading }}</h2>
          <p class="subtxt">{{ section.settings.content }}</p>
          <span class="saving_ship">{{ section.settings.ship }}</span>
          {% for block in section.blocks %}
          {% assign collection1 = collections[block.settings.collection] %}
          <div class="static-step" data-index-three="11">
            <div class="loop_collection slider_step_3"  data-id="{{ collection1.id }}">
              {%- comment %}<locksmith:a197>{% endcomment -%}
                {%- assign locksmith_f798_forloop__size = 0 %}{% for product in collection1.products %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_f798_forloop__size = locksmith_f798_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_f798_forloop__index = nil -%}
              {%- comment %}</locksmith:a197>{% endcomment -%}
              {% for product in collection1.products %}
              {%- comment %}<locksmith:f06c>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_f798_forloop__index == nil %}{% assign locksmith_f798_forloop__index = 1 %}{% assign locksmith_f798_forloop__index0 = 0 %}{% else %}{% assign locksmith_f798_forloop__index = locksmith_f798_forloop__index | plus: 1 %}{% assign locksmith_f798_forloop__index0 = locksmith_f798_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_f798_forloop__index == 1 %}{% assign locksmith_f798_forloop__first = true %}{% else %}{% assign locksmith_f798_forloop__first = false %}{% endif %}{% if locksmith_f798_forloop__index == locksmith_f798_forloop__size %}{% assign locksmith_f798_forloop__last = true %}{% else %}{% assign locksmith_f798_forloop__last = false %}{% endif %}{% assign locksmith_f798_forloop__rindex = locksmith_f798_forloop__size | minus: locksmith_f798_forloop__index | minus: 1 %}{% assign locksmith_f798_forloop__rindex0 = locksmith_f798_forloop__size | minus: locksmith_f798_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:f06c>{% endcomment -%}
              {% assign selling_id =  '' %}
              {% for group in product.selling_plan_groups %}
              {% for selling_plan in group.selling_plans %}
              {% assign selling_id =  selling_plan.id %}
              {% endfor %}
              {% endfor %}
              <div class="loop_additionaldiv activeloop" productid="{{product.id }}" selling_id="{{ selling_id }}" {% for variant in product.variants limit:1%}adtavar3="{{variant.id}}"{% endfor%}>
                <div class="loop double_select">
                  <form action="/cart/add" method="post" id="productid{{- product.id -}}" data-product-title="{{ product.title}}">
                    <input type="number" hidden hide min="0" class="quantity" name="quantity" id="quantity" {%if forloop.index > 4 %} value='0' {% else %} value='1' {% endif %} />
                    {% for group in product.selling_plan_groups %}
                    {% for selling_plan in group.selling_plans %}
                    <input type="radio" name="selling_plan" value="{{ selling_plan.id }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                     <input class="" type="radio" name="properties[_selling_plan]" value="{{ selling_plan.name }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                    {% endfor %}
                    {% endfor %}

                    {% if product.variants.size == 1 %}
                    <input type="hidden" name="id" value="{{ product.first_available_variant.id }}" checked="checked" data-inv-qty="{{ product.first_available_variant.inventory_quantity }}" />
                    {% else %}
                    <select name="id">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }}</option>{% endfor %}</select>
                    {% endif %}
                    <div><input type="submit" class="btn" value="Add to cart"></div>  
                  </form>
                  <div class="data">
                    <div class="data_inner">
                      <h5> {{product.title}}</h5>
                      {%- assign preview_image = product.featured_image  -%}
                      {% if product.images.size > 0 %} 
                      <img src="{{preview_image | img_url:'master'}}">
                      {% endif %}
                      <p class="desc_truncate">{{ product.description | truncate:80 }}</p>
                    </div>
                  </div>
                </div>
                <div class="quantity subsc_quantity" data-price="{{ product.price}}">
                  <input type='button' value='-' class='minus' field='quantity' />
                  <input disabled="disabled" type='text' name='quantity' {%if locksmith_f798_forloop__index > 4 %} value='0' {% else %} value='1' {% endif %} class='qty' />
                  <input type='button' value='+' class='plus' field='quantity' />
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="subscription_bar"><p class="selct">You’ve Selected <span class="qty_slt">4</span> of <span class="bar_txt">4</span> Bars</p></div>
          </div>
          <div class="static-step" data-index-three="12">
            <div class="loop_collection slider_step_3"  data-id="{{ collection1.id }}">
              {% for product in collection1.products %}
              {%- comment %}<locksmith:6a72>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:6a72>{% endcomment -%}
              {% assign selling_id =  '' %}
              {% for group in product.selling_plan_groups %}
              {% for selling_plan in group.selling_plans %}
              {% assign selling_id =  selling_plan.id %}
              {% endfor %}
              {% endfor %}
              <div class="loop_additionaldiv activeloop" productid="{{product.id }}" selling_id="{{ selling_id }}" {% for variant in product.variants limit:1%}adtavar3="{{variant.id}}"{% endfor%}>
                <div class="loop double_select">
                  <form action="/cart/add" method="post" id="productid{{- product.id -}}" data-product-title="{{ product.title}}">
                    <input type="number" hidden hide min="0" class="quantity" name="quantity" id="quantity" value='1' />
                    {% for group in product.selling_plan_groups %}
                    {% for selling_plan in group.selling_plans %}
                    <input type="radio" name="selling_plan" value="{{ selling_plan.id }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                    <input class="" type="radio" name="properties[_selling_plan]" value="{{ selling_plan.name }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                    {% endfor %}
                    {% endfor %}

                    {% if product.variants.size == 1 %}
                    <input type="hidden" name="id" value="{{ product.first_available_variant.id }}" data-inv-qty="{{ product.first_available_variant.inventory_quantity }}" checked="checked" />
                    {% else %}
                    <select name="id">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }}</option>{% endfor %}</select>
                    {% endif %}
                    <div><input type="submit" class="btn" value="Add to cart"></div>  
                  </form>
                  <div class="data">
                    <div class="data_inner">
                      <h5> {{product.title}}</h5>
                      {%- assign preview_image = product.featured_image  -%}
                      {% if product.images.size > 0 %} 
                      <img src="{{preview_image | img_url:'master'}}">
                      {% endif %}
                      <p class="desc_truncate">{{ product.description | truncate:80 }}</p>
                    </div>
                  </div>
                </div>
                <div class="quantity subsc_quantity" data-price="{{ product.price}}">
                  <input type='button' value='-' class='minus' field='quantity' />
                  <input disabled="disabled" type='text' name='quantity' value='1' class='qty' />
                  <input type='button' value='+' class='plus' field='quantity' />
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="subscription_bar"><p class="selct">You’ve Selected <span class="qty_slt">6</span> of <span class="bar_txt">6</span> Bars</p></div>
          </div>
          <div class="static-step" data-index-three="13">
            <div class="loop_collection slider_step_3"  data-id="{{ collection1.id }}">
              {%- comment %}<locksmith:3bbc>{% endcomment -%}
                {%- assign locksmith_d0a3_forloop__size = 0 %}{% for product in collection1.products %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_d0a3_forloop__size = locksmith_d0a3_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_d0a3_forloop__index = nil -%}
              {%- comment %}</locksmith:3bbc>{% endcomment -%}
              {% for product in collection1.products %}
              {%- comment %}<locksmith:f6c6>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_d0a3_forloop__index == nil %}{% assign locksmith_d0a3_forloop__index = 1 %}{% assign locksmith_d0a3_forloop__index0 = 0 %}{% else %}{% assign locksmith_d0a3_forloop__index = locksmith_d0a3_forloop__index | plus: 1 %}{% assign locksmith_d0a3_forloop__index0 = locksmith_d0a3_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_d0a3_forloop__index == 1 %}{% assign locksmith_d0a3_forloop__first = true %}{% else %}{% assign locksmith_d0a3_forloop__first = false %}{% endif %}{% if locksmith_d0a3_forloop__index == locksmith_d0a3_forloop__size %}{% assign locksmith_d0a3_forloop__last = true %}{% else %}{% assign locksmith_d0a3_forloop__last = false %}{% endif %}{% assign locksmith_d0a3_forloop__rindex = locksmith_d0a3_forloop__size | minus: locksmith_d0a3_forloop__index | minus: 1 %}{% assign locksmith_d0a3_forloop__rindex0 = locksmith_d0a3_forloop__size | minus: locksmith_d0a3_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:f6c6>{% endcomment -%}
              {% assign selling_id =  '' %}
              {% for group in product.selling_plan_groups %}
              {% for selling_plan in group.selling_plans %}
              {% assign selling_id =  selling_plan.id %}
              {% endfor %}
              {% endfor %}
              <div class="loop_additionaldiv activeloop" productid="{{product.id }}" selling_id="{{ selling_id }}" {% for variant in product.variants limit:1%}adtavar3="{{variant.id}}"{% endfor%}>
                <div class="loop double_select">
                  <form action="/cart/add" method="post" id="productid{{- product.id -}}" data-product-title="{{ product.title}}">
                    <input type="number" hidden hide min="0" class="quantity" name="quantity" id="quantity" {%if forloop.index > 2 %} value='1' {% else %} value='2' {% endif %} />
                    {% for group in product.selling_plan_groups %}
                    {% for selling_plan in group.selling_plans %}
                    <input type="radio" name="selling_plan" value="{{ selling_plan.id }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                     <input class="" type="radio" name="properties[_selling_plan]" value="{{ selling_plan.name }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                    {% endfor %}
                    {% endfor %}

                    {% if product.variants.size == 1 %}
                    <input type="hidden" name="id" value="{{ product.first_available_variant.id }}" data-inv-qty="{{ product.first_available_variant.inventory_quantity }}" checked="checked" />
                    {% else %}
                    <select name="id">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }}</option>{% endfor %}</select>
                    {% endif %}
                    <div><input type="submit" class="btn" value="Add to cart"></div>  
                  </form>
                  <div class="data">
                    <div class="data_inner">
                      <h5> {{product.title}}</h5>
                      {%- assign preview_image = product.featured_image  -%}
                      {% if product.images.size > 0 %} 
                      <img src="{{preview_image | img_url:'master'}}">
                      {% endif %}
                      <p class="desc_truncate">{{ product.description | truncate:80 }}</p>
                    </div>
                  </div>
                </div>
                <div class="quantity subsc_quantity" data-price="{{ product.price}}">
                  <input type='button' value='-' class='minus' field='quantity' />
                  <input disabled="disabled" type='text' name='quantity' {%if locksmith_d0a3_forloop__index > 2 %} value='1' {% else %} value='2' {% endif %}  class='qty' />
                  <input type='button' value='+' class='plus' field='quantity' />
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="subscription_bar"><p class="selct">You’ve Selected <span class="qty_slt">8</span> of <span class="bar_txt">8</span> Bars</p></div>
          </div>
          <div class="static-step" data-index-three="21">
            <div class="loop_collection slider_step_3"  data-id="{{ collection1.id }}">
              {%- comment %}<locksmith:708f>{% endcomment -%}
                {%- assign locksmith_88de_forloop__size = 0 %}{% for product in collection1.products %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_88de_forloop__size = locksmith_88de_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_88de_forloop__index = nil -%}
              {%- comment %}</locksmith:708f>{% endcomment -%}
              {% for product in collection1.products %}
              {%- comment %}<locksmith:e677>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_88de_forloop__index == nil %}{% assign locksmith_88de_forloop__index = 1 %}{% assign locksmith_88de_forloop__index0 = 0 %}{% else %}{% assign locksmith_88de_forloop__index = locksmith_88de_forloop__index | plus: 1 %}{% assign locksmith_88de_forloop__index0 = locksmith_88de_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_88de_forloop__index == 1 %}{% assign locksmith_88de_forloop__first = true %}{% else %}{% assign locksmith_88de_forloop__first = false %}{% endif %}{% if locksmith_88de_forloop__index == locksmith_88de_forloop__size %}{% assign locksmith_88de_forloop__last = true %}{% else %}{% assign locksmith_88de_forloop__last = false %}{% endif %}{% assign locksmith_88de_forloop__rindex = locksmith_88de_forloop__size | minus: locksmith_88de_forloop__index | minus: 1 %}{% assign locksmith_88de_forloop__rindex0 = locksmith_88de_forloop__size | minus: locksmith_88de_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:e677>{% endcomment -%}
              {% assign selling_id =  '' %}
              {% for group in product.selling_plan_groups %}
              {% for selling_plan in group.selling_plans %}
              {% assign selling_id =  selling_plan.id %}
              {% endfor %}
              {% endfor %}
              <div class="loop_additionaldiv activeloop" productid="{{product.id }}" selling_id="{{ selling_id }}" {% for variant in product.variants limit:1%}adtavar3="{{variant.id}}"{% endfor%}>
                <div class="loop double_select">
                  <form action="/cart/add" method="post" id="productid{{- product.id -}}" data-product-title="{{ product.title}}">
                    <input type="number" hidden hide min="0" class="quantity" name="quantity" id="quantity" {%if forloop.index > 4 %} value='1' {% else %} value='2' {% endif %} />
                    {% for group in product.selling_plan_groups %}
                    {% for selling_plan in group.selling_plans %}
                    <input type="radio" name="selling_plan" value="{{ selling_plan.id }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                    <input class="" type="radio" name="properties[_selling_plan]" value="{{ selling_plan.name }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                    {% endfor %}
                    {% endfor %}

                    {% if product.variants.size == 1 %}
                    <input type="hidden" name="id" value="{{ product.first_available_variant.id }}" data-inv-qty="{{ product.first_available_variant.inventory_quantity }}" checked="checked" />
                    {% else %}
                    <select name="id">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }}</option>{% endfor %}</select>
                    {% endif %}
                    <div><input type="submit" class="btn" value="Add to cart"></div>  
                  </form>
                  <div class="data">
                    <div class="data_inner">
                      <h5> {{product.title}}</h5>
                      {%- assign preview_image = product.featured_image  -%}
                      {% if product.images.size > 0 %} 
                      <img src="{{preview_image | img_url:'master'}}">
                      {% endif %}
                      <p class="desc_truncate">{{ product.description | truncate:80 }}</p>
                    </div>
                  </div>
                </div>
                <div class="quantity subsc_quantity" data-price="{{ product.price}}">
                  <input type='button' value='-' class='minus' field='quantity' />
                  <input disabled="disabled" type='text' name='quantity' {%if locksmith_88de_forloop__index > 4 %} value='1' {% else %} value='2' {% endif %}  class='qty' />
                  <input type='button' value='+' class='plus' field='quantity' />
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="subscription_bar"><p class="selct">You’ve Selected <span class="qty_slt">10</span> of <span class="bar_txt">10</span> Bars</p></div>
          </div>
          <div class="static-step" data-index-three="22">
            <div class="loop_collection slider_step_3"  data-id="{{ collection1.id }}">
              {%- comment %}<locksmith:b804>{% endcomment -%}
                {%- assign locksmith_d65b_forloop__size = 0 %}{% for product in collection1.products %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_d65b_forloop__size = locksmith_d65b_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_d65b_forloop__index = nil -%}
              {%- comment %}</locksmith:b804>{% endcomment -%}
              {% for product in collection1.products %}
              {%- comment %}<locksmith:814c>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_d65b_forloop__index == nil %}{% assign locksmith_d65b_forloop__index = 1 %}{% assign locksmith_d65b_forloop__index0 = 0 %}{% else %}{% assign locksmith_d65b_forloop__index = locksmith_d65b_forloop__index | plus: 1 %}{% assign locksmith_d65b_forloop__index0 = locksmith_d65b_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_d65b_forloop__index == 1 %}{% assign locksmith_d65b_forloop__first = true %}{% else %}{% assign locksmith_d65b_forloop__first = false %}{% endif %}{% if locksmith_d65b_forloop__index == locksmith_d65b_forloop__size %}{% assign locksmith_d65b_forloop__last = true %}{% else %}{% assign locksmith_d65b_forloop__last = false %}{% endif %}{% assign locksmith_d65b_forloop__rindex = locksmith_d65b_forloop__size | minus: locksmith_d65b_forloop__index | minus: 1 %}{% assign locksmith_d65b_forloop__rindex0 = locksmith_d65b_forloop__size | minus: locksmith_d65b_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:814c>{% endcomment -%}
              {% assign selling_id =  '' %}
              {% for group in product.selling_plan_groups %}
              {% for selling_plan in group.selling_plans %}
              {% assign selling_id =  selling_plan.id %}
              {% endfor %}
              {% endfor %}
              <div class="loop_additionaldiv activeloop" productid="{{product.id }}" selling_id="{{ selling_id }}" {% for variant in product.variants limit:1%}adtavar3="{{variant.id}}"{% endfor%}>
                <div class="loop double_select">
                  <form action="/cart/add" method="post" id="productid{{- product.id -}}" data-product-title="{{ product.title}}">
                    <input type="number" hidden hide min="0" class="quantity" name="quantity" id="quantity" {%if forloop.index > 6 %} value='1' {% else %} value='2' {% endif %} />
                    {% for group in product.selling_plan_groups %}
                    {% for selling_plan in group.selling_plans %}
                    <input type="radio" name="selling_plan" value="{{ selling_plan.id }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                    <input class="" type="radio" name="properties[_selling_plan]" value="{{ selling_plan.name }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                    {% endfor %}
                    {% endfor %}

                    {% if product.variants.size == 1 %}
                    <input type="hidden" name="id" value="{{ product.first_available_variant.id }}" data-inv-qty="{{ product.first_available_variant.inventory_quantity }}" checked="checked" />
                    {% else %}
                    <select name="id">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }}</option>{% endfor %}</select>
                    {% endif %}
                    <div><input type="submit" class="btn" value="Add to cart"></div>  
                  </form>
                  <div class="data">
                    <div class="data_inner">
                      <h5> {{product.title}}</h5>
                      {%- assign preview_image = product.featured_image  -%}
                      {% if product.images.size > 0 %} 
                      <img src="{{preview_image | img_url:'master'}}">
                      {% endif %}
                      <p class="desc_truncate">{{ product.description | truncate:80 }}</p>
                    </div>
                  </div>
                </div>
                <div class="quantity subsc_quantity" data-price="{{ product.price}}">
                  <input type='button' value='-' class='minus' field='quantity' />
                  <input disabled="disabled" type='text' name='quantity' {%if locksmith_d65b_forloop__index > 6 %} value='1' {% else %} value='2' {% endif %}  class='qty' />
                  <input type='button' value='+' class='plus' field='quantity' />
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="subscription_bar"><p class="selct">You’ve Selected <span class="qty_slt">12</span> of <span class="bar_txt">12</span> Bars</p></div>
          </div>
          <div class="static-step" data-index-three="23">
            <div class="loop_collection slider_step_3"  data-id="{{ collection1.id }}">
              {%- comment %}<locksmith:006c>{% endcomment -%}
                {%- assign locksmith_5025_forloop__size = 0 %}{% for product in collection1.products %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_5025_forloop__size = locksmith_5025_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_5025_forloop__index = nil -%}
              {%- comment %}</locksmith:006c>{% endcomment -%}
              {% for product in collection1.products %}
              {%- comment %}<locksmith:9b9c>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_5025_forloop__index == nil %}{% assign locksmith_5025_forloop__index = 1 %}{% assign locksmith_5025_forloop__index0 = 0 %}{% else %}{% assign locksmith_5025_forloop__index = locksmith_5025_forloop__index | plus: 1 %}{% assign locksmith_5025_forloop__index0 = locksmith_5025_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_5025_forloop__index == 1 %}{% assign locksmith_5025_forloop__first = true %}{% else %}{% assign locksmith_5025_forloop__first = false %}{% endif %}{% if locksmith_5025_forloop__index == locksmith_5025_forloop__size %}{% assign locksmith_5025_forloop__last = true %}{% else %}{% assign locksmith_5025_forloop__last = false %}{% endif %}{% assign locksmith_5025_forloop__rindex = locksmith_5025_forloop__size | minus: locksmith_5025_forloop__index | minus: 1 %}{% assign locksmith_5025_forloop__rindex0 = locksmith_5025_forloop__size | minus: locksmith_5025_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:9b9c>{% endcomment -%}
              {% assign selling_id =  '' %}
              {% for group in product.selling_plan_groups %}
              {% for selling_plan in group.selling_plans %}
              {% assign selling_id =  selling_plan.id %}
              {% endfor %}
              {% endfor %}
              <div class="loop_additionaldiv activeloop" productid="{{product.id }}" selling_id="{{ selling_id }}" {% for variant in product.variants limit:1%}adtavar3="{{variant.id}}"{% endfor%}>
                <div class="loop double_select">
                  <form action="/cart/add" method="post" id="productid{{- product.id -}}" data-product-title="{{ product.title}}">
                    <input type="number" hidden hide min="0" class="quantity" name="quantity" id="quantity" {%if forloop.index > 2 %} value='2' {% else %} value='3' {% endif %} />
                    {% for group in product.selling_plan_groups %}
                    {% for selling_plan in group.selling_plans %}
                    <input type="radio" name="selling_plan" value="{{ selling_plan.id }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                    <input class="" type="radio" name="properties[_selling_plan]" value="{{ selling_plan.name }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                    {% endfor %}
                    {% endfor %}

                    {% if product.variants.size == 1 %}
                    <input type="hidden" name="id" value="{{ product.first_available_variant.id }}" data-inv-qty="{{ product.first_available_variant.inventory_quantity }}" checked="checked" />
                    {% else %}
                    <select name="id">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }}</option>{% endfor %}</select>
                    {% endif %}
                    <div><input type="submit" class="btn" value="Add to cart"></div>  
                  </form>
                  <div class="data">
                    <div class="data_inner">
                      <h5> {{product.title}}</h5>
                      {%- assign preview_image = product.featured_image  -%}
                      {% if product.images.size > 0 %} 
                      <img src="{{preview_image | img_url:'master'}}">
                      {% endif %}
                      <p class="desc_truncate">{{ product.description | truncate:80 }}</p>
                    </div>
                  </div>
                </div>
                <div class="quantity subsc_quantity" data-price="{{ product.price}}">
                  <input type='button' value='-' class='minus' field='quantity' />
                  <input disabled="disabled" type='text' name='quantity' {%if locksmith_5025_forloop__index > 2 %} value='2' {% else %} value='3' {% endif %}  class='qty' />
                  <input type='button' value='+' class='plus' field='quantity' />
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="subscription_bar"><p class="selct">You’ve Selected <span class="qty_slt">14</span> of <span class="bar_txt">14</span> Bars</p></div>
          </div>
          <div class="static-step" data-index-three="31">
            <div class="loop_collection slider_step_3"  data-id="{{ collection1.id }}">
              {%- comment %}<locksmith:929e>{% endcomment -%}
                {%- assign locksmith_838f_forloop__size = 0 %}{% for product in collection1.products %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_838f_forloop__size = locksmith_838f_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_838f_forloop__index = nil -%}
              {%- comment %}</locksmith:929e>{% endcomment -%}
              {% for product in collection1.products %}
              {%- comment %}<locksmith:3e0d>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_838f_forloop__index == nil %}{% assign locksmith_838f_forloop__index = 1 %}{% assign locksmith_838f_forloop__index0 = 0 %}{% else %}{% assign locksmith_838f_forloop__index = locksmith_838f_forloop__index | plus: 1 %}{% assign locksmith_838f_forloop__index0 = locksmith_838f_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_838f_forloop__index == 1 %}{% assign locksmith_838f_forloop__first = true %}{% else %}{% assign locksmith_838f_forloop__first = false %}{% endif %}{% if locksmith_838f_forloop__index == locksmith_838f_forloop__size %}{% assign locksmith_838f_forloop__last = true %}{% else %}{% assign locksmith_838f_forloop__last = false %}{% endif %}{% assign locksmith_838f_forloop__rindex = locksmith_838f_forloop__size | minus: locksmith_838f_forloop__index | minus: 1 %}{% assign locksmith_838f_forloop__rindex0 = locksmith_838f_forloop__size | minus: locksmith_838f_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:3e0d>{% endcomment -%}
              {% assign selling_id =  '' %}
              {% for group in product.selling_plan_groups %}
              {% for selling_plan in group.selling_plans %}
              {% assign selling_id =  selling_plan.id %}
              {% endfor %}
              {% endfor %}
              <div class="loop_additionaldiv activeloop" productid="{{product.id }}" selling_id="{{ selling_id }}" {% for variant in product.variants limit:1%}adtavar3="{{variant.id}}"{% endfor%}>
                <div class="loop double_select">
                  <form action="/cart/add" method="post" id="productid{{- product.id -}}" data-product-title="{{ product.title}}">
<!--                     <input type="number" hidden hide min="0" class="quantity" name="quantity" id="quantity" {%if forloop.index > 4 %} value='1' {% else %} value='2' {% endif %} /> -->
                    <input type="number" hidden hide min="0" class="quantity" name="quantity" id="quantity" value='2' />

                    {% for group in product.selling_plan_groups %}
                    {% for selling_plan in group.selling_plans %}
                    <input type="radio" name="selling_plan" value="{{ selling_plan.id }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                    <input class="" type="radio" name="properties[_selling_plan]" value="{{ selling_plan.name }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                    {% endfor %}
                    {% endfor %}

                    {% if product.variants.size == 1 %}
                    <input type="hidden" name="id" value="{{ product.first_available_variant.id }}" data-inv-qty="{{ product.first_available_variant.inventory_quantity }}" checked="checked" />
                    {% else %}
                    <select name="id">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }}</option>{% endfor %}</select>
                    {% endif %}
                    <div><input type="submit" class="btn" value="Add to cart"></div>  
                  </form>
                  <div class="data">
                    <div class="data_inner">
                      <h5> {{product.title}}</h5>
                      {%- assign preview_image = product.featured_image  -%}
                      {% if product.images.size > 0 %} 
                      <img src="{{preview_image | img_url:'master'}}">
                      {% endif %}
                      <p class="desc_truncate">{{ product.description | truncate:80 }}</p>
                    </div>
                  </div>
                </div>
                <div class="quantity subsc_quantity" data-price="{{ product.price}}">
                  <input type='button' value='-' class='minus' field='quantity' />
                  <input disabled="disabled" type='text' name='quantity' {%if locksmith_838f_forloop__index > 4 %} value='1' {% else %} value='2' {% endif %}  class='qty' />
<!--                   <input disabled="disabled" type='text' name='quantity'  value='2' class='qty' /> -->
                  <input type='button' value='+' class='plus' field='quantity' />
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="subscription_bar"><p class="selct">You’ve Selected <span class="qty_slt">10</span> of <span class="bar_txt">10</span> Bars</p></div>
          </div>
          <div class="static-step" data-index-three="32">
            <div class="loop_collection slider_step_3"  data-id="{{ collection1.id }}">
              {%- comment %}<locksmith:c2e6>{% endcomment -%}
                {%- assign locksmith_ad25_forloop__size = 0 %}{% for product in collection1.products %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_ad25_forloop__size = locksmith_ad25_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_ad25_forloop__index = nil -%}
              {%- comment %}</locksmith:c2e6>{% endcomment -%}
              {% for product in collection1.products %}
              {%- comment %}<locksmith:23fd>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_ad25_forloop__index == nil %}{% assign locksmith_ad25_forloop__index = 1 %}{% assign locksmith_ad25_forloop__index0 = 0 %}{% else %}{% assign locksmith_ad25_forloop__index = locksmith_ad25_forloop__index | plus: 1 %}{% assign locksmith_ad25_forloop__index0 = locksmith_ad25_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_ad25_forloop__index == 1 %}{% assign locksmith_ad25_forloop__first = true %}{% else %}{% assign locksmith_ad25_forloop__first = false %}{% endif %}{% if locksmith_ad25_forloop__index == locksmith_ad25_forloop__size %}{% assign locksmith_ad25_forloop__last = true %}{% else %}{% assign locksmith_ad25_forloop__last = false %}{% endif %}{% assign locksmith_ad25_forloop__rindex = locksmith_ad25_forloop__size | minus: locksmith_ad25_forloop__index | minus: 1 %}{% assign locksmith_ad25_forloop__rindex0 = locksmith_ad25_forloop__size | minus: locksmith_ad25_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:23fd>{% endcomment -%}
              {% assign selling_id =  '' %}
              {% for group in product.selling_plan_groups %}
              {% for selling_plan in group.selling_plans %}
              {% assign selling_id =  selling_plan.id %}
              {% endfor %}
              {% endfor %}
              <div class="loop_additionaldiv activeloop" productid="{{product.id }}" selling_id="{{ selling_id }}" {% for variant in product.variants limit:1%}adtavar3="{{variant.id}}"{% endfor%}>
                <div class="loop double_select">
                  <form action="/cart/add" method="post" id="productid{{- product.id -}}" data-product-title="{{ product.title}}">
                    <input type="number" hidden hide min="0" class="quantity" name="quantity" id="quantity" {%if forloop.index > 6 %} value='1' {% else %} value='2' {% endif %} />
                    {% for group in product.selling_plan_groups %}
                    {% for selling_plan in group.selling_plans %}
                    <input type="radio" name="selling_plan" value="{{ selling_plan.id }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                     <input class="" type="radio" name="properties[_selling_plan]" value="{{ selling_plan.name }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                    
                    {% endfor %}
                    {% endfor %}

                    {% if product.variants.size == 1 %}
                    <input type="hidden" name="id" value="{{ product.first_available_variant.id }}" data-inv-qty="{{ product.first_available_variant.inventory_quantity }}" checked="checked" />
                    {% else %}
                    <select name="id">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }}</option>{% endfor %}</select>
                    {% endif %}
                    <div><input type="submit" class="btn" value="Add to cart"></div>  
                  </form>
                  <div class="data">
                    <div class="data_inner">
                      <h5> {{product.title}}</h5>
                      {%- assign preview_image = product.featured_image  -%}
                      {% if product.images.size > 0 %} 
                      <img src="{{preview_image | img_url:'master'}}">
                      {% endif %}
                      <p class="desc_truncate">{{ product.description | truncate:80 }}</p>
                    </div>
                  </div>
                </div>
                <div class="quantity subsc_quantity" data-price="{{ product.price}}">
                  <input type='button' value='-' class='minus' field='quantity' />
                  <input disabled="disabled" type='text' name='quantity' {%if locksmith_ad25_forloop__index > 6 %} value='1' {% else %} value='2' {% endif %} class='qty' />
                  <input type='button' value='+' class='plus' field='quantity' />
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="subscription_bar"><p class="selct">You’ve Selected <span class="qty_slt">12</span> of <span class="bar_txt">12</span> Bars</p></div>
          </div>
          <div class="static-step" data-index-three="33">
            <div class="loop_collection slider_step_3"  data-id="{{ collection1.id }}">
              {%- comment %}<locksmith:1445>{% endcomment -%}
                {%- assign locksmith_ecce_forloop__size = 0 %}{% for product in collection1.products %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_ecce_forloop__size = locksmith_ecce_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_ecce_forloop__index = nil -%}
              {%- comment %}</locksmith:1445>{% endcomment -%}
              {% for product in collection1.products %}
              {%- comment %}<locksmith:782e>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_ecce_forloop__index == nil %}{% assign locksmith_ecce_forloop__index = 1 %}{% assign locksmith_ecce_forloop__index0 = 0 %}{% else %}{% assign locksmith_ecce_forloop__index = locksmith_ecce_forloop__index | plus: 1 %}{% assign locksmith_ecce_forloop__index0 = locksmith_ecce_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_ecce_forloop__index == 1 %}{% assign locksmith_ecce_forloop__first = true %}{% else %}{% assign locksmith_ecce_forloop__first = false %}{% endif %}{% if locksmith_ecce_forloop__index == locksmith_ecce_forloop__size %}{% assign locksmith_ecce_forloop__last = true %}{% else %}{% assign locksmith_ecce_forloop__last = false %}{% endif %}{% assign locksmith_ecce_forloop__rindex = locksmith_ecce_forloop__size | minus: locksmith_ecce_forloop__index | minus: 1 %}{% assign locksmith_ecce_forloop__rindex0 = locksmith_ecce_forloop__size | minus: locksmith_ecce_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:782e>{% endcomment -%}
              {% assign selling_id =  '' %}
              {% for group in product.selling_plan_groups %}
              {% for selling_plan in group.selling_plans %}
              {% assign selling_id =  selling_plan.id %}
              {% endfor %}
              {% endfor %}
              <div class="loop_additionaldiv activeloop" productid="{{product.id }}" selling_id="{{ selling_id }}" {% for variant in product.variants limit:1%}adtavar3="{{variant.id}}"{% endfor%}>
                <div class="loop double_select">
                  <form action="/cart/add" method="post" id="productid{{- product.id -}}" data-product-title="{{ product.title}}">
                    <input type="number" hidden hide min="0" class="quantity" name="quantity" id="quantity" {%if forloop.index > 2 %} value='1' {% else %} value='2' {% endif %} />
                    {% for group in product.selling_plan_groups %}
                    {% for selling_plan in group.selling_plans %}
                    <input type="radio" name="selling_plan" value="{{ selling_plan.id }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                     <input class="" type="radio" name="properties[_selling_plan]" value="{{ selling_plan.name }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                    {% endfor %}
                    {% endfor %}

                    {% if product.variants.size == 1 %}
                    <input type="hidden" name="id" value="{{ product.first_available_variant.id }}" data-inv-qty="{{ product.first_available_variant.inventory_quantity }}" checked="checked" />
                    {% else %}
                    <select name="id">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }}</option>{% endfor %}</select>
                    {% endif %}
                    <div><input type="submit" class="btn" value="Add to cart"></div>  
                  </form>
                  <div class="data">
                    <div class="data_inner">
                      <h5> {{product.title}}</h5>
                      {%- assign preview_image = product.featured_image  -%}
                      {% if product.images.size > 0 %} 
                      <img src="{{preview_image | img_url:'master'}}">
                      {% endif %}
                      <p class="desc_truncate">{{ product.description | truncate:80 }}</p>
                    </div>
                  </div>
                </div>
                <div class="quantity subsc_quantity" data-price="{{ product.price}}">
                  <input type='button' value='-' class='minus' field='quantity' />
                  <input disabled="disabled" type='text' name='quantity' {%if locksmith_ecce_forloop__index > 2 %} value='1' {% else %} value='2' {% endif %} class='qty' />
                  <input type='button' value='+' class='plus' field='quantity' />
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="subscription_bar"><p class="selct">You’ve Selected <span class="qty_slt">8</span> of <span class="bar_txt">8</span> Bars</p></div>
          </div>
          <div class="static-step" data-index-three="41">
            <div class="loop_collection slider_step_3"  data-id="{{ collection1.id }}">
              {%- comment %}<locksmith:a885>{% endcomment -%}
                {%- assign locksmith_0a66_forloop__size = 0 %}{% for product in collection1.products %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_0a66_forloop__size = locksmith_0a66_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_0a66_forloop__index = nil -%}
              {%- comment %}</locksmith:a885>{% endcomment -%}
              {% for product in collection1.products %}
              {%- comment %}<locksmith:b8b3>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_0a66_forloop__index == nil %}{% assign locksmith_0a66_forloop__index = 1 %}{% assign locksmith_0a66_forloop__index0 = 0 %}{% else %}{% assign locksmith_0a66_forloop__index = locksmith_0a66_forloop__index | plus: 1 %}{% assign locksmith_0a66_forloop__index0 = locksmith_0a66_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_0a66_forloop__index == 1 %}{% assign locksmith_0a66_forloop__first = true %}{% else %}{% assign locksmith_0a66_forloop__first = false %}{% endif %}{% if locksmith_0a66_forloop__index == locksmith_0a66_forloop__size %}{% assign locksmith_0a66_forloop__last = true %}{% else %}{% assign locksmith_0a66_forloop__last = false %}{% endif %}{% assign locksmith_0a66_forloop__rindex = locksmith_0a66_forloop__size | minus: locksmith_0a66_forloop__index | minus: 1 %}{% assign locksmith_0a66_forloop__rindex0 = locksmith_0a66_forloop__size | minus: locksmith_0a66_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:b8b3>{% endcomment -%}
              {% assign selling_id =  '' %}
              {% for group in product.selling_plan_groups %}
              {% for selling_plan in group.selling_plans %}
              {% assign selling_id =  selling_plan.id %}
              {% endfor %}
              {% endfor %}
              <div class="loop_additionaldiv activeloop" productid="{{product.id }}" selling_id="{{ selling_id }}" {% for variant in product.variants limit:1%}adtavar3="{{variant.id}}"{% endfor%}>
                <div class="loop double_select">
                  <form action="/cart/add" method="post" id="productid{{- product.id -}}" data-product-title="{{ product.title}}">
                    <input type="number" hidden hide min="0" class="quantity" name="quantity" id="quantity" {%if forloop.index > 2 %} value='1' {% else %} value='2' {% endif %} />
                    {% for group in product.selling_plan_groups %}
                    {% for selling_plan in group.selling_plans %}
                    <input type="radio" name="selling_plan" value="{{ selling_plan.id }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                     <input class="" type="radio" name="properties[_selling_plan]" value="{{ selling_plan.name }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                    {% endfor %}
                    {% endfor %}

                    {% if product.variants.size == 1 %}
                    <input type="hidden" name="id" value="{{ product.first_available_variant.id }}" data-inv-qty="{{ product.first_available_variant.inventory_quantity }}" checked="checked" />
                    {% else %}
                    <select name="id">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }}</option>{% endfor %}</select>
                    {% endif %}
                    <div><input type="submit" class="btn" value="Add to cart"></div>  
                  </form>
                  <div class="data">
                    <div class="data_inner">
                      <h5> {{product.title}}</h5>
                      {%- assign preview_image = product.featured_image  -%}
                      {% if product.images.size > 0 %} 
                      <img src="{{preview_image | img_url:'master'}}">
                      {% endif %}
                      <p class="desc_truncate">{{ product.description | truncate:80 }}</p>
                    </div>
                  </div>
                </div>
                <div class="quantity subsc_quantity" data-price="{{ product.price}}">
                  <input type='button' value='-' class='minus' field='quantity' />
                  <input disabled="disabled" type='text' name='quantity' {%if locksmith_0a66_forloop__index > 2 %} value='1' {% else %} value='2' {% endif %} class='qty' />
                  <input type='button' value='+' class='plus' field='quantity' />
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="subscription_bar"><p class="selct">You’ve Selected <span class="qty_slt">8</span> of <span class="bar_txt">8</span> Bars</p></div>
          </div>
          <div class="static-step" data-index-three="42">
            <div class="loop_collection slider_step_3"  data-id="{{ collection1.id }}">
              {%- comment %}<locksmith:49a0>{% endcomment -%}
                {%- assign locksmith_1f5e_forloop__size = 0 %}{% for product in collection1.products %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_1f5e_forloop__size = locksmith_1f5e_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_1f5e_forloop__index = nil -%}
              {%- comment %}</locksmith:49a0>{% endcomment -%}
              {% for product in collection1.products %}
              {%- comment %}<locksmith:9619>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_1f5e_forloop__index == nil %}{% assign locksmith_1f5e_forloop__index = 1 %}{% assign locksmith_1f5e_forloop__index0 = 0 %}{% else %}{% assign locksmith_1f5e_forloop__index = locksmith_1f5e_forloop__index | plus: 1 %}{% assign locksmith_1f5e_forloop__index0 = locksmith_1f5e_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_1f5e_forloop__index == 1 %}{% assign locksmith_1f5e_forloop__first = true %}{% else %}{% assign locksmith_1f5e_forloop__first = false %}{% endif %}{% if locksmith_1f5e_forloop__index == locksmith_1f5e_forloop__size %}{% assign locksmith_1f5e_forloop__last = true %}{% else %}{% assign locksmith_1f5e_forloop__last = false %}{% endif %}{% assign locksmith_1f5e_forloop__rindex = locksmith_1f5e_forloop__size | minus: locksmith_1f5e_forloop__index | minus: 1 %}{% assign locksmith_1f5e_forloop__rindex0 = locksmith_1f5e_forloop__size | minus: locksmith_1f5e_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:9619>{% endcomment -%}
              {% assign selling_id =  '' %}
              {% for group in product.selling_plan_groups %}
              {% for selling_plan in group.selling_plans %}
              {% assign selling_id =  selling_plan.id %}
              {% endfor %}
              {% endfor %}
              <div class="loop_additionaldiv activeloop" productid="{{product.id }}" selling_id="{{ selling_id }}" {% for variant in product.variants limit:1%}adtavar3="{{variant.id}}"{% endfor%}>
                <div class="loop double_select">
                  <form action="/cart/add" method="post" id="productid{{- product.id -}}" data-product-title="{{ product.title}}">
                    <input type="number" hidden hide min="0" class="quantity" name="quantity" id="quantity" {%if forloop.index > 4 %} value='1' {% else %} value='2' {% endif %} />
                    {% for group in product.selling_plan_groups %}
                    {% for selling_plan in group.selling_plans %}
                    <input type="radio" name="selling_plan" value="{{ selling_plan.id }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                     <input class="" type="radio" name="properties[_selling_plan]" value="{{ selling_plan.name }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                    {% endfor %}
                    {% endfor %}

                    {% if product.variants.size == 1 %}
                    <input type="hidden" name="id" value="{{ product.first_available_variant.id }}" data-inv-qty="{{ product.first_available_variant.inventory_quantity }}" checked="checked" />
                    {% else %}
                    <select name="id">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }}</option>{% endfor %}</select>
                    {% endif %}
                    <div><input type="submit" class="btn" value="Add to cart"></div>  
                  </form>
                  <div class="data">
                    <div class="data_inner">
                      <h5> {{product.title}}</h5>
                      {%- assign preview_image = product.featured_image  -%}
                      {% if product.images.size > 0 %} 
                      <img src="{{preview_image | img_url:'master'}}">
                      {% endif %}
                      <p class="desc_truncate">{{ product.description | truncate:80 }}</p>
                    </div>
                  </div>
                </div>
                <div class="quantity subsc_quantity" data-price="{{ product.price}}">
                  <input type='button' value='-' class='minus' field='quantity' />
                  <input disabled="disabled" type='text' name='quantity' {%if locksmith_1f5e_forloop__index > 4 %} value='1' {% else %} value='2' {% endif %}  class='qty' />
                  <input type='button' value='+' class='plus' field='quantity' />
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="subscription_bar"><p class="selct">You’ve Selected <span class="qty_slt">10</span> of <span class="bar_txt">10</span> Bars</p></div>
          </div>
          <div class="static-step" data-index-three="43">
            <div class="loop_collection slider_step_3"  data-id="{{ collection1.id }}">
              {%- comment %}<locksmith:acd3>{% endcomment -%}
                {%- assign locksmith_fbcb_forloop__size = 0 %}{% for product in collection1.products %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_fbcb_forloop__size = locksmith_fbcb_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_fbcb_forloop__index = nil -%}
              {%- comment %}</locksmith:acd3>{% endcomment -%}
              {% for product in collection1.products %}
              {%- comment %}<locksmith:d841>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection1, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_fbcb_forloop__index == nil %}{% assign locksmith_fbcb_forloop__index = 1 %}{% assign locksmith_fbcb_forloop__index0 = 0 %}{% else %}{% assign locksmith_fbcb_forloop__index = locksmith_fbcb_forloop__index | plus: 1 %}{% assign locksmith_fbcb_forloop__index0 = locksmith_fbcb_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_fbcb_forloop__index == 1 %}{% assign locksmith_fbcb_forloop__first = true %}{% else %}{% assign locksmith_fbcb_forloop__first = false %}{% endif %}{% if locksmith_fbcb_forloop__index == locksmith_fbcb_forloop__size %}{% assign locksmith_fbcb_forloop__last = true %}{% else %}{% assign locksmith_fbcb_forloop__last = false %}{% endif %}{% assign locksmith_fbcb_forloop__rindex = locksmith_fbcb_forloop__size | minus: locksmith_fbcb_forloop__index | minus: 1 %}{% assign locksmith_fbcb_forloop__rindex0 = locksmith_fbcb_forloop__size | minus: locksmith_fbcb_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:d841>{% endcomment -%}
              {% assign selling_id =  '' %}
              {% for group in product.selling_plan_groups %}
              {% for selling_plan in group.selling_plans %}
              {% assign selling_id =  selling_plan.id %}
              {% endfor %}
              {% endfor %}
              <div class="loop_additionaldiv activeloop" productid="{{product.id }}" selling_id="{{ selling_id }}" {% for variant in product.variants limit:1%}adtavar3="{{variant.id}}"{% endfor%}>
                <div class="loop double_select">
                  <form action="/cart/add" method="post" id="productid{{- product.id -}}" data-product-title="{{ product.title}}">
                    <input type="number" hidden hide min="0" class="quantity" name="quantity" id="quantity" {%if forloop.index > 6 %} value='1' {% else %} value='2' {% endif %} />
                    {% for group in product.selling_plan_groups %}
                    {% for selling_plan in group.selling_plans %}
                    <input type="radio" name="selling_plan" value="{{ selling_plan.id }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                     <input class="" type="radio" name="properties[_selling_plan]" value="{{ selling_plan.name }}" data-plan-name="{{ selling_plan.name }}"
                           {% if forloop.length == 1 %}
                           checked="checked"
                           {% endif %}
                           >
                    {% endfor %}
                    {% endfor %}

                    {% if product.variants.size == 1 %}
                    <input type="hidden" name="id" value="{{ product.first_available_variant.id }}" data-inv-qty="{{ product.first_available_variant.inventory_quantity }}" checked="checked" />
                    {% else %}
                    <select name="id">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }}</option>{% endfor %}</select>
                    {% endif %}
                    <div><input type="submit" class="btn" value="Add to cart"></div>  
                  </form>
                  <div class="data">
                    <div class="data_inner">
                      <h5> {{product.title}}</h5>
                      {%- assign preview_image = product.featured_image  -%}
                      {% if product.images.size > 0 %} 
                      <img src="{{preview_image | img_url:'master'}}">
                      {% endif %}
                      <p class="desc_truncate">{{ product.description | truncate:80 }}</p>
                    </div>
                  </div>
                </div>
                <div class="quantity subsc_quantity" data-price="{{ product.price}}">
                  <input type='button' value='-' class='minus' field='quantity' />
                  <input disabled="disabled" type='text' name='quantity' {%if locksmith_fbcb_forloop__index > 6 %} value='1' {% else %} value='2' {% endif %}  class='qty' />
                  <input type='button' value='+' class='plus' field='quantity' />
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="subscription_bar"><p class="selct">You’ve Selected <span class="qty_slt">12</span> of <span class="bar_txt">12</span> Bars</p></div>
          </div>
          {% endfor %}
        </div>
        <div class="subscriptionbtn"> 
          <div class="btn_step">
            <div class="page-width">
              <button class='btn prev'>Back</button>
              <button  class='btn next checkout_subs'>Next Step</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Subscription Step Three",
    "settings": [
{
      "type": "text",
      "id": "txt1",
      "label":"Text"
},
{
      "type": "text",
      "id": "txt2",
      "label":"Text"
},
{
      "type": "text",
      "id": "txt3",
      "label":"Text"
},
{
      "type": "text",
      "id": "txt4",
      "label":"Text"
},
{
      "type": "text",
      "id": "heading",
      "label":"Heading"
},
{
      "type": "text",
      "id": "content",
      "label":"Content"
}
],
"blocks": [
    {
      "type": "box",
      "name": "box",
      "settings": [
    
   {
      "type": "collection",
      "id": "collection",
      "label":"Collection"
}

        
      ]
    }
  ]
  }
{% endschema %}

<!-- <script>
  $(document).ready(function(){
  

          $(".slider_step_3").slick({
              dots: false,
              infinite: false,
             slidesToShow: 6,
              slidesToScroll: 1,
              responsive: [
                  {
                  breakpoint: 1100,
                  settings: {

                    slidesToShow: 5,
                    slidesToScroll: 1
                  }
                },
                 {
                  breakpoint: 980,
                  settings: {

                    slidesToShow: 4,
                    slidesToScroll: 1
                  }
                },
                 {
                  breakpoint: 767,
                  settings: {

                    slidesToShow: 3,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 640,
                  settings: {

                    slidesToShow: 2,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 480,
                  settings: {

                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
              ]
            });

        });
      </script> -->